a {
  color: black !important;
}

.authcard {
  max-width: 400px;
  margin: 50px auto !important;
  padding: 20px;
  text-align: center;
}

.gallery {
  height: fit-content;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gal-img {
  width: 30%;
}

.home-card {
  max-width: 600px;
  margin: 10px auto;
  height: fit-content;
  padding: 10px;
  align-content: center;
}

.input-filed {
  margin: 80px auto;
  padding: 30px;
  max-width: 400px;
  height: fit-content;
}

.loader {
  margin-left: 600px !important;
  margin-top: 100px !important;
  height: 200px !important;
  width: 200px !important;
  border: 10px solod black;
}
